body {
    background-color: white;
}

#aboutCardano {
    background-color: mediumpurple;
    margin-left: 35%;
    bottom: 90%;
    width: 8rem;
    height: 1.75rem;
}

#aboutCardano:hover {
    background-color: #473269;
    margin: auto;
    bottom: 90%;
    width: 8rem;
    height: 1.75rem;
}

#coinPrice {

}

#marketCap {
    margin-bottom: 0 ;
    padding-left: 5px;
    letter-spacing: 1.5px;
}

#marketCapDisplay {
    display: flex;
}

#marketCapIcon {
    width: 4%;
    height: 4%;
}

#marketCapUnderline {
    background-color: black;
    width: 17%;
    height: 3px;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 10%;

}

#coinDisplay {
    display: flex;
}



.coinHeader {
    background-color: mediumpurple;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
    height: 50px;
    margin-top: -32px;
    color: white;

}

#coinHeading1 {
    padding-top: 10px;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 2rem;
}

.coinBody {
    background-color: white;
    box-shadow: black 20px 30px 55px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    margin: auto;

}body {
     background-color: white;
 }

#marketCap {
    margin-bottom: 0 ;
    padding-left: 5px;
    letter-spacing: 1.5px;
}

#marketCapDisplay {
    display: flex;
}

#marketCapIcon {
    width: 4%;
    height: 4%;
}

#marketCapUnderline {
    background-color: black;
    width: 17%;
    height: 3px;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 10%;

}

#coinDisplay {
    display: flex;
}



.coinHeader {
    background-color: mediumpurple;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 40%;
    height: 50px;
    margin-top: -32px;
    color: white;

}

.coinHeading {
    padding-top: 10px;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 2rem;
}

.coinBody {
    background-color: white;
    box-shadow: black 20px 30px 55px;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    margin: auto;
    animation: leftSlide 1s ease forwards;
    position: absolute;
    right: -500px;

}



@keyframes leftSlide {

    0% {



    }


    100% {
        transform: translateX(-700px);

    }
}

